USE [AUTOSTORE]
GO
/****** Object:  Table [dbo].[NHASANXUAT]    Script Date: 05/17/2018 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHASANXUAT](
	[MANSX] [varchar](10) NOT NULL,
	[TENNSX] [nvarchar](50) NULL,
	[DIENTHOAI] [varchar](20) NULL,
	[MOTA] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHASANXUAT] PRIMARY KEY CLUSTERED 
(
	[MANSX] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NHASANXUAT] ([MANSX], [TENNSX], [DIENTHOAI], [MOTA]) VALUES (N'1467001702', N'Lamborghini corp', N'6789', N'bò tót xổng chuồng')
INSERT [dbo].[NHASANXUAT] ([MANSX], [TENNSX], [DIENTHOAI], [MOTA]) VALUES (N'873205943', N'Ferrari', N'567890', N'ngựa con háu đá')
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 05/17/2018 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[DIENTHOAI] [varchar](20) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[USERNAME] [varchar](50) NULL,
	[PASSWORD] [varchar](50) NULL,
	[PHANQUYEN] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [GIOITINH], [DIENTHOAI], [DIACHI], [USERNAME], [PASSWORD], [PHANQUYEN]) VALUES (N'1211997', N'Duong Nguyen', N'nam', N'01277001997', N'Nam Dinh', N'duongnguyensr', N'1', N'AMDIR')
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 05/17/2018 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [varchar](10) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[DIENTHOAI] [varchar](20) NULL,
	[EMAIL] [varchar](50) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [DIENTHOAI], [EMAIL]) VALUES (N'1117618939', N'Ferrari Corp', N'Italia', N'56789', N'ferrari@fera.go')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [DIENTHOAI], [EMAIL]) VALUES (N'98450225', N'Lamborghini corp', N'Australia', N'098888888', N'lambor@lam.com')
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 05/17/2018 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MALOAI] [varchar](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
	[MOTA] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAISANPHAM] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI], [MOTA]) VALUES (N'2012189547', N'Xe Oto', N'Danh mục bán xe')
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI], [MOTA]) VALUES (N'550933622', N'Nội thất xe oto', N'Nội thất bên trong xe')
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI], [MOTA]) VALUES (N'561673466', N'Phụ tùng cho xe', N'phụ tùng')
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 05/17/2018 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](10) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[DIENTHOAI] [varchar](20) NULL,
	[EMAIL] [varchar](100) NULL,
	[USERNAME] [nvarchar](50) NULL,
	[PASSWORD] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [DIENTHOAI], [EMAIL], [USERNAME], [PASSWORD]) VALUES (N'1021324191', N'Dương Văn Nam', N'Quảng Than', N'098765433', N'namduong@gmail.com', N'duongnam', N'1')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [DIENTHOAI], [EMAIL], [USERNAME], [PASSWORD]) VALUES (N'1034019009', N'uhu uhu', N'ghg ', N'5475', N'h@yahoo.com', NULL, NULL)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [DIENTHOAI], [EMAIL], [USERNAME], [PASSWORD]) VALUES (N'111', N'zh zh', N'ha noi', N'787887', N'a@g.com', NULL, NULL)
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 05/17/2018 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](10) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[MANSX] [varchar](10) NULL,
	[MAUSAC] [nvarchar](50) NULL,
	[MALOAI] [varchar](10) NULL,
	[MOTA] [nvarchar](50) NULL,
	[DONGIA] [float] NULL,
	[SOLUONG] [int] NULL,
	[HINHANH] [nvarchar](1000) NULL,
	[YEAR] [int] NULL,
	[KM] [int] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MANSX], [MAUSAC], [MALOAI], [MOTA], [DONGIA], [SOLUONG], [HINHANH], [YEAR], [KM]) VALUES (N'101011', N'AUDI R8 SPYDER V-8', NULL, N'red', NULL, NULL, 95900, 8, N'/Content/ClientVender/media/186x113/audi.jpg', 2014, 12000)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MANSX], [MAUSAC], [MALOAI], [MOTA], [DONGIA], [SOLUONG], [HINHANH], [YEAR], [KM]) VALUES (N'101012', N'ASTON MARTIN VANTAGE', NULL, N'orange', NULL, NULL, 101025, 7, N'/Content/ClientVender/media/186x113/aston.jpg', 2012, 20000)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MANSX], [MAUSAC], [MALOAI], [MOTA], [DONGIA], [SOLUONG], [HINHANH], [YEAR], [KM]) VALUES (N'101013', N'MERCEDES-AMG GT/GT S', NULL, N'green', NULL, NULL, 184900, 5, N'/Content/ClientVender/media/186x113/mers.jpg', 2011, 10000)
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 05/17/2018 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MAPX] [varchar](10) NOT NULL,
	[TENPX] [nvarchar](50) NULL,
	[MANV] [varchar](10) NOT NULL,
	[MAKH] [varchar](10) NOT NULL,
	[NGAYXUAT] [datetime] NULL,
 CONSTRAINT [PK_PHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PHIEUXUAT] ([MAPX], [TENPX], [MANV], [MAKH], [NGAYXUAT]) VALUES (N'2046526638', N'phiếu xuất 1', N'1211997', N'22709867', CAST(0x0000A8E500000000 AS DateTime))
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 05/17/2018 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [varchar](10) NOT NULL,
	[TENPN] [nvarchar](50) NULL,
	[MANV] [varchar](10) NOT NULL,
	[NGAYNHAP] [datetime] NULL,
	[MANCC] [varchar](10) NOT NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PHIEUNHAP] ([MAPN], [TENPN], [MANV], [NGAYNHAP], [MANCC]) VALUES (N'534022921', N'phiếu 1', N'1211997', CAST(0x0000A8DD00000000 AS DateTime), N'98450225')
/****** Object:  Table [dbo].[GIOHANG]    Script Date: 05/17/2018 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIOHANG](
	[CODE] [varchar](10) NOT NULL,
	[MASP] [varchar](10) NOT NULL,
	[MAKH] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_GIOHANG_1] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[GIOHANG] ([CODE], [MASP], [MAKH], [SOLUONG]) VALUES (N'1189933345', N'101035', N'999', 1)
INSERT [dbo].[GIOHANG] ([CODE], [MASP], [MAKH], [SOLUONG]) VALUES (N'2009995942', N'101016', N'999', 1)
INSERT [dbo].[GIOHANG] ([CODE], [MASP], [MAKH], [SOLUONG]) VALUES (N'233982906', N'101014', N'999', 1)
/****** Object:  Table [dbo].[CHITIETPHIEUXUAT]    Script Date: 05/17/2018 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUXUAT](
	[MAPX] [varchar](10) NOT NULL,
	[MASP] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIAXUAT] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC,
	[MASP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 05/17/2018 20:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MAPN] [varchar](10) NOT NULL,
	[MASP] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIANHAP] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MASP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHITIETPHIEUNHAP] ([MAPN], [MASP], [SOLUONG], [DONGIANHAP]) VALUES (N'534022921', N'101012', 7, 1)
/****** Object:  ForeignKey [FK_CHITIETPHIEUNHAP_PHIEUNHAP]    Script Date: 05/17/2018 20:35:43 ******/
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAP_PHIEUNHAP] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAP_PHIEUNHAP]
GO
/****** Object:  ForeignKey [FK_CHITIETPHIEUNHAP_SANPHAM]    Script Date: 05/17/2018 20:35:43 ******/
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAP_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAP_SANPHAM]
GO
/****** Object:  ForeignKey [FK_CHITIETPHIEUXUAT_PHIEUXUAT]    Script Date: 05/17/2018 20:35:43 ******/
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUXUAT_PHIEUXUAT] FOREIGN KEY([MAPX])
REFERENCES [dbo].[PHIEUXUAT] ([MAPX])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT] CHECK CONSTRAINT [FK_CHITIETPHIEUXUAT_PHIEUXUAT]
GO
/****** Object:  ForeignKey [FK_CHITIETPHIEUXUAT_SANPHAM]    Script Date: 05/17/2018 20:35:43 ******/
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUXUAT_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT] CHECK CONSTRAINT [FK_CHITIETPHIEUXUAT_SANPHAM]
GO
/****** Object:  ForeignKey [FK_GIOHANG_KHACHHANG]    Script Date: 05/17/2018 20:35:43 ******/
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GIOHANG_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[GIOHANG] CHECK CONSTRAINT [FK_GIOHANG_KHACHHANG]
GO
/****** Object:  ForeignKey [FK_GIOHANG_SANPHAM]    Script Date: 05/17/2018 20:35:43 ******/
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GIOHANG_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[GIOHANG] CHECK CONSTRAINT [FK_GIOHANG_SANPHAM]
GO
/****** Object:  ForeignKey [FK_PHIEUNHAP_NHACUNGCAP]    Script Date: 05/17/2018 20:35:43 ******/
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP]
GO
/****** Object:  ForeignKey [FK_PHIEUNHAP_NHANVIEN]    Script Date: 05/17/2018 20:35:43 ******/
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_PHIEUXUAT_KHACHHANG]    Script Date: 05/17/2018 20:35:43 ******/
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUAT_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUAT_KHACHHANG]
GO
/****** Object:  ForeignKey [FK_PHIEUXUAT_NHANVIEN]    Script Date: 05/17/2018 20:35:43 ******/
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUAT_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUAT_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_SANPHAM_LOAISANPHAM]    Script Date: 05/17/2018 20:35:43 ******/
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISANPHAM] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISANPHAM]
GO
/****** Object:  ForeignKey [FK_SANPHAM_NHASANXUAT]    Script Date: 05/17/2018 20:35:43 ******/
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NHASANXUAT] FOREIGN KEY([MANSX])
REFERENCES [dbo].[NHASANXUAT] ([MANSX])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NHASANXUAT]
GO
