USE [AUTOSTORE]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 05/15/2018 14:23:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](10) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[MANSX] [varchar](10) NULL,
	[MAUSAC] [nvarchar](50) NULL,
	[MALOAI] [varchar](10) NULL,
	[MOTA] [nchar](10) NULL,
	[DONGIA] [float] NULL,
	[SOLUONG] [int] NULL,
	[HINHANH] [nvarchar](1000) NULL,
	[YEAR] [int] NULL,
	[KM] [int] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MANSX], [MAUSAC], [MALOAI], [MOTA], [DONGIA], [SOLUONG], [HINHANH], [YEAR], [KM]) VALUES (N'101011', N'AUDI R8 SPYDER V-8', NULL, N'red', NULL, NULL, 95900, 8, N'/Content/ClientVender/media/186x113/audi.jpg', 2014, 12000)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MANSX], [MAUSAC], [MALOAI], [MOTA], [DONGIA], [SOLUONG], [HINHANH], [YEAR], [KM]) VALUES (N'101012', N'ASTON MARTIN VANTAGE', NULL, N'orange', NULL, NULL, 101025, 7, N'/Content/ClientVender/media/186x113/aston.jpg', 2012, 20000)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [MANSX], [MAUSAC], [MALOAI], [MOTA], [DONGIA], [SOLUONG], [HINHANH], [YEAR], [KM]) VALUES (N'101013', N'MERCEDES-AMG GT/GT S', NULL, N'green', NULL, NULL, 184900, 5, N'/Content/ClientVender/media/186x113/mers.jpg', 2011, 10000)
/****** Object:  ForeignKey [FK_SANPHAM_LOAISANPHAM]    Script Date: 05/15/2018 14:23:34 ******/
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISANPHAM] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISANPHAM]
GO
/****** Object:  ForeignKey [FK_SANPHAM_NHASANXUAT]    Script Date: 05/15/2018 14:23:34 ******/
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NHASANXUAT] FOREIGN KEY([MANSX])
REFERENCES [dbo].[NHASANXUAT] ([MANSX])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NHASANXUAT]
GO
