@{

    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<link href="~/Content/ClientVender/css/cartcheckout.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<section class="b-pageHeader">
    <div class="container">
        <h1 class="wow zoomInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: zoomInLeft;">Shopping Cart</h1>
        <div class="b-pageHeader__search wow zoomInRight" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: zoomInRight;">
            <h3>Checkout & get the best car you want!</h3>
        </div>
    </div>
</section>

<div class="container" style="margin:150px 20px 150px 700px">
    <h2>Thông tin đã được xác nhận!</h2>
</div>