@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<link href="~/Content/ClientVender/css/cartcheckout.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

<section class="b-pageHeader">
    <div class="container">
        <h1 class="wow zoomInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: zoomInLeft;">Shopping Cart</h1>
        <div class="b-pageHeader__search wow zoomInRight" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: zoomInRight;">
            <h3>Checkout & get the best car you want!</h3>
        </div>
    </div>
</section>

<div class="shopping-cart border" style="margin:15px 250px 150px 200px;">

    <div class="column-labels">
        <label class="product-image" style="padding-left:90px">Product</label>
        <label class="product-details" style="padding-left:90px">Description</label>
        <label class="product-price" style="padding-left:30px">Price</label>
        <label class="product-quantity">Quantity</label>
        <label class="product-removal">Remove</label>
        <label class="product-line-price" style="padding-right:30px">Total</label>
    </div>
    <div id="inforcheckout">
        @Html.Action("Loaditem", "GioHang")
    </div>
    

    

    <div class="b-search__main-form-submit">
        <button class="btn m-btn" onclick="location.href='@Url.Action("Checkout", "GioHang")'">Checkout<span class="fa fa-shopping-cart"></span></button>
    </div>
</div>

<script type="text/javascript">
    function decrease(nbid, gia, idsp) {
        var i = $("#NB_" + nbid + "").val();
        if (i > 1) {
            $('#NB_' + nbid + '').val(i - 1);
            i = i - 1;
            gia = gia * i;
            $('#gia_' + nbid + '').text(gia);

            $.ajax({
                url: "/GioHang/decrease",
                data: {
                    'i': i,
                    'idsp': idsp
                },
                datatype: 'html',
                type: 'Get',
                success: function () {
                    $.ajax({
                        url: "/GioHang/Loaditem",

                        type: 'Get',
                        success: function (cart) {
                            $("#inforcheckout").html(cart);


                        },
                        error: function () {
                        }
                    });

                },
                error: function () {
                    $("#err_").attr("style", "display:normal");
                }
            });
        }

    }

    function increase(nbid, gia, idsp) {
        var i = $("#NB_" + nbid + "").val();
        if (i > 0) {
            var y = parseInt(i) + 1;
            $('#NB_' + nbid + '').val(y);

            gia = gia * y;
            $('#gia_' + nbid + '').text(gia);

            $.ajax({
                url: "/GioHang/decrease",
                data: {
                    'i': y,
                    'idsp': idsp
                },
                datatype: 'html',
                type: 'Get',
                success: function () {
                    $.ajax({
                        url: "/GioHang/Loaditem",

                        type: 'Get',
                        success: function (cart) {
                            $("#inforcheckout").html(cart);


                        },
                        error: function () {
                        }
                    });

                },
                error: function () {
                    $("#err_").attr("style", "display:normal");
                }
            });
        }

    }

    function deleteitem(idsp) {
        $.ajax({
            url: "/GioHang/delitem2",
            data: {
                'idsp': idsp
            },
            datatype: 'html',
            type: 'Get',
            success: function () {
                $.ajax({
                    url: "/GioHang/Loaditem",

                    type: 'Get',
                    success: function (cart) {
                        $("#inforcheckout").html(cart);
                      

                    },
                    error: function () {
                    }
                });

            },
            error: function () {
                $("#err_").attr("style", "display:normal");
            }
        });
    }
</script>
<style>
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
</style>